extends ../../layouts/default.pug    
include ../../mixins/box-head.pug

block main
    +box-head(pageTitle)

    form(
        action= `/${prefixAdmin}/songs/edit/${song.id}?_method=PATCH` 
        id="form-create-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=song.title
            )
        div(class="form-group")
            label(for="product_category_id") Chủ đề
            select(
                name="TopicId"
                id="product_category_id"
                class="form-control"
                )
                option(value="") --Chon danh muc -- 
                each topic in topics 
                    option( value=topic.id selected=(topic.id == song.topicId ? true: false) ) #{topic.title}
        div(class="form-group")
            label(for="product_category_id") Ca sĩ
            select(
                name="singerId"
                id="product_category_id"
                class="form-control"
                )
                option(value="") --Chon danh muc -- 
                each singer in singers 
                    option(value=singer.id selected=( singer.id == song.singerId ? true: false) ) #{singer.fullName}
        div(class="form-group")
            label(for="lyrics") Lyrics
            textarea(
                class="form-control"
                id="lyrics"
                name="lyrics"
                rows=20
            ) #{song.lyrics}
        div(class="form-group")
            label(for="desc") Mô tả 
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
            ) #{song.description}
        div(
            class="form-group"
            upload-image
            ) 
            label(for="avatar") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            img(
                src=song.avatar
                class="image-preview"
                upload-image-preview
            )
        div(
            class="form-group"
            upload-audio
            ) 
            label(for="audio") File Âm thanh
            input(
                type="file"
                class="form-control-file"
                id="audio"
                name="audio"
                accept="audio/*"
                upload-audio-input
            )
            audio(controls upload-audio-play) 
                source(src=song.audio)

            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                ) 
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                type="submit"
                class="btn btn-primary"
                ) Chỉnh sửa